@import url('https://fonts.googleapis.com/css?family=Anton');
body {
  margin: 0;
  font-family: 'Cera Pro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Cera Pro',
    monospace;
}
